<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">LoginApp</h3>
    </div>
</div>
<div class=" container">
    <div class=" header clearfix">
        <nav>
            <ul class="nav nav-pills pull-left">

                <li role="presentation"><a href="/question1">Q1 Count all users</a></li>
                <li role="presentation"><a href="/question2">Q2 Count all users</a></li>
                <li role="presentation"><a href="/question3">Q3 Count all users</a></li>
                <li role="presentation"><a href="/question4">Q4 Count all users</a></li>
                <li role="presentation"><a href="/question5">Q5 Count all users</a></li>


            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-12 col-sm-12 col-lg-12">


            {{{body}}}
        </div>


    </div>


    <footer class="footer">
        <p>Athinodoros Sgouromallis | software development | International class</p>
    </footer>

</div>
</body>
</html>
